.circle {
  animation: glow 3s infinite;
}

@keyframes glow {
  0% {
    background-color: orangered;
    box-shadow: 0 0 10px orangered, 0 0 20px orangered, 0 0 30px orangered;
  }

  50% {
    background-color: orangered;
    box-shadow: 0 0 20px rgb(211, 47, 18), 0 0 40px rgb(222, 70, 24), 0 0 60px rgb(202, 35, 5);
  }

  100% {
    background-color: orangered;
    box-shadow: 0 0 10px orangered, 0 0 20px orangered, 0 0 30px orangered;
  }
}